[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
notebook = "*"
"beautifulsoup4" = "*"
requests = "*"
lxml = "*"
iamport-rest-client = "*"
jsonfield = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.6"
